html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
section {
    border-bottom: 1.5px solid #da0090;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: column;
}

article {
    margin: 2rem 0;
}
article img {
    float: left;
    margin: 0 1rem 1rem 0;
    border-radius: 1rem;
}
article:after {
    content: '';
    display: table;
    clear: both;
}

footer {
    border-top: 1.5px solid #a61f11;
    text-align: center;
    font-size: 0.8rem;

}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer ul li {
    margin: 0 0.4rem;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.leftheader {
    flex-basis: 40%;
    display: flex;
    justify-content: right;
    padding-right: 0.5rem;
}
.rightheader {
    flex-basis: 60%;
    padding-top: 2.75rem;

}
.rightheader h1 {
    margin: 0;
    color: #da0090;
    font-size: 3rem;
}
.rightheader p {
    margin-top: -0.5rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0 18%;
    border-top: 2px solid #da0090;
    border-bottom: 2px solid #a61f11;
    margin: 0.45rem 0;
}
nav a:hover {
    background-color: black;
    color: gold;
    text-decoration: none;
}
